@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@400;600&family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Rock+Salt&display=swap');

/*
*/

body {
    margin: 0 !important
}


#root {
    background-color: #E9EEF1
}

.css-1wtc51h-MuiDrawer-docked .MuiDrawer-paper {
    position: inherit !important;
}
