@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;800&family=Sofia+Sans+Semi+Condensed:wght@200;400;900&family=Sriracha&display=swap');

body {
    margin: 0 !important;
    overflow-x: hidden;
    height: 100vh;
}

.tooltip-inner {
    font-weight: bold;
}

.accordion-button {
    color: #FFF !important;
    background-color: #581c7c !important;
    border-bottom: 5px #c6ff00 solid !important;
}

.dropdown-item:active, .dropdown-item.active {
    background-color: #581c7c !important;
}

a {
    text-decoration: none !important;
}

.logo {
    height: 100px
}

h1, h2, h3, h4, h5 {
    /*font-family: 'Sriracha', cursive;*/
}

.bg-gradient-custom {
    background: linear-gradient(180deg, rgba(124, 42, 175, 1), rgba(74, 20, 140, 1));
    border-bottom: 5px #c6ff00 solid;
}

.bg-gradient-custom-inverted {
    background: linear-gradient(180deg, rgba(124, 42, 175, 1), rgba(74, 20, 140, 1));
    border-top: 5px #c6ff00 solid;
}

#root {
    background-color: #E9EEF1
}

.nav-link.active {
    font-weight: bold;
}
