$link-color: #6a1b9a;
$nav-pills-link-active-bg: #6a1b9a;
$font-family-base: 'Sofia Sans Semi Condensed', sans-serif !important;
$tooltip-bg: #efefef;
$tooltip-color: #6a1b9a;
$theme-colors: (
        "primary": #6a1b9a,
        "secondary":#7A9818,
        "warning":#a976c3,
        "info": #c6ff00,
        "dark":#7e7e7e,
);

@import '~bootstrap/scss/bootstrap.scss';
